.footer__links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: opacity .3s linear;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
  }
}