.intro {
  padding-top: 92px;
  max-width: 984px;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-top: 88px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
    max-width: 288px;
  }
}
